<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs") %>

    <body>
        <%-include("./partials/nav.ejs") %>
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores nam commodi, ullam facere magni. Explicabo odit cupiditate amet in, nihil quo similique sunt delectus unde, modi non! Sed at sunt modi, repellat voluptatibus porro, nostrum, assumenda laboriosam autem architecto officia maiores voluptates amet quia velit? Doloribus numquam ducimus ipsa!</p>
    </body>
    <%-include("./partials/footer.ejs") %>
</html>